<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.2">


  <trigger id="REST_Docs" type="java">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.service\.api\.rest"
      retrieveObjectsRecursively="false"/>
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.service\.api\.rest\.([^\.]+)RestService">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
    </matcher>
  </trigger>


</contextConfiguration>
