<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<settings>
  <!-- The "localRepository" has to be set to ensure consistent behaviour across command-line and Eclipse.
    To change it edit variables[-customized].bat -->
  <localRepository>${M2_REPO}</localRepository>

  <!-- When you are using the oasp4j-ide, define your credentials in the variables-customized.bat
    using the variables DEVON_NEXUS_USER for the user name and DEVON_NEXUS_PASSWD for the password.
    If you not yet have access to the nexus instance, just contact Jörg Hohwiller or Krzysztof Sobkowiak. -->
  <servers>
    <server>
      <id>nexus.central</id>
      <username>${DEVON_NEXUS_USER}</username>
      <password>${DEVON_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>public</id>
      <username>${DEVON_NEXUS_USER}</username>
      <password>${DEVON_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>3rd.party</id>
      <username>${DEVON_NEXUS_USER}</username>
      <password>${DEVON_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>oasp.releases</id>
      <username>${DEVON_NEXUS_USER}</username>
      <password>${DEVON_NEXUS_PASSWD}</password>
    </server>
    <server>
      <id>oasp.snapshots</id>
      <username>${DEVON_NEXUS_USER}</username>
      <password>${DEVON_NEXUS_PASSWD}</password>
    </server>
	<server>
      <id>devon.releases</id>
      <username>${DEVON_NEXUS_USER}</username>
      <password>${DEVON_NEXUS_PASSWD}</password>
    </server>
	<server>
      <id>devon.snapshots</id>
      <username>${DEVON_NEXUS_USER}</username>
      <password>${DEVON_NEXUS_PASSWD}</password>
    </server>
	<server>
      <id>ossrh</id>
      <username>${OSSRH_USER}</username>
      <password>${OSSRH_PASSWD}</password>
    </server>
	<server>
      <id>iCSDFileServer</id>
      <username>${ICSD_FILESERVER_USER}</username>
      <password>${ICSD_FILESERVER_PASSWD}</password>
    </server>
  </servers>
  
  <mirrors>
    <mirror>
      <id>nexus.central</id>
      <mirrorOf>central</mirrorOf>
      <name>central-mirror</name>
      <url>https://devon.s2-eu.capgemini.com/nexus3/repository/central</url>
    </mirror>
    <!--<mirror>
      <id>nexus.eclipse.platform</id>
      <mirrorOf>eclipse.platform</mirrorOf>
      <layout>p2</layout>
      <mirrorOfLayouts>p2</mirrorOfLayouts>
      <name>eclipse-p2-mirror</name>
      <url>http://oasp-ci.cloudapp.net/nexus/content/repositories/p2test/</url>
      </mirror> -->
  </mirrors>

  <profiles>
    <profile>
      <id>devon.nexus</id>
      <properties>
        <nexusurl>https://devon.s2-eu.capgemini.com/nexus3/repository</nexusurl>
      </properties>
      <repositories>
        <repository>
          <id>public</id>
          <name>Public Repositories</name>
          <url>${nexusurl}/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>3rd.party</id>
          <name>3rd party</name>
          <url>${nexusurl}/thirdparty</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>oasp.releases</id>
          <name>OASP Releases</name>
          <url>${nexusurl}/oasp.releases</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>oasp.snapshots</id>
          <name>OASP Snapshots</name>
          <url>${nexusurl}/oasp.snapshots</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
		<repository>
          <id>devon.releases</id>
          <name>Devon Releases</name>
          <url>${nexusurl}/releases</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>devon.snapshots</id>
          <name>Devon Snapshots</name>
          <url>${nexusurl}/snapshots</url>
          <releases>
            <enabled>false</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>public</id>
          <name>Public Repositories</name>
          <url>${nexusurl}/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
	<profile>
      <id>ossrh</id>
      <properties>
        <gpg.executable>gpg2</gpg.executable>
        <gpg.passphrase>${GPG_SIGNING_PASSWD}</gpg.passphrase>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>devon.nexus</activeProfile>
	<activeProfile>ossrh</activeProfile>
  </activeProfiles>
</settings>
