<?xml version="1.0" encoding="UTF-8"?>
<contextConfiguration xmlns="http://capgemini.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0">
  <triggers>
    <trigger id="testTemplates" type="xml" templateFolder="testTemplates">
      <matcher type="nodename" value="root">
      </matcher>
    </trigger>
  </triggers>
</contextConfiguration>
