<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <!-- Send debug messages to System.out -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        
        <pattern>%message%n</pattern>       
    </encoder>
    </appender>  
 
    <!-- By default, the level of the root level is set to DEBUG -->
    <root>
    <appender-ref ref="console"/>
</root>
</configuration>