[submodule "cobigen-documentation/tools-cobigen.wiki"]
	path = cobigen-documentation/tools-cobigen.wiki
	url = git@github.com:devonfw/tools-cobigen.wiki.git
[submodule "cobigen-documentation/devonfw-docgen"]
	path = cobigen-documentation/devonfw-docgen
	url = git@github.com:devonfw/devonfw-docgen.git