/*.settings
bin
lib
target
eclipse-target
**/src/generated/
classPath-*
pom-cp-*
licenses/
*.log
.*
output/
!.github
!.gitignore
!.mvn
!.travis.yml
!**/resources/bin

scripts/src/config
cobigen-cli/cli/src/test/resources/testdata/generatedcode/root
cobigen-maven/src/main/resources/META-INF/maven/plugin.xml
cobigen-eclipse/cobigen-eclipse-test/screenshots

#Python
*.pyc
.pydevproject
objectdb
.mypy_cache
