/*.settings
bin
lib
target
eclipse-target
**/src/generated/
classPath-*
pom-cp-*
licenses/
*.log
*.log*.gz
.*
solicitor/output/*
solicitor/input/*
solicitor/licenses/*
solicitor/*.jar
!.github
!.gitignore
!.mvn
!.travis.yml
!**/resources/bin

scripts/src/config
cobigen-cli/cli/src/test/resources/testdata/generatedcode/root
cobigen-maven/src/main/resources/META-INF/maven/plugin.xml
cobigen-eclipse/cobigen-eclipse-test/screenshots

#Python
*.pyc
.pydevproject
objectdb
.mypy_cache

#Intellij
.idea
*.iml
/cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplateSetConfigurationReaderTest/valid_template_sets_downloaded/template-sets/downloaded/crud-java-server-app-test.jar
/cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplateSetConfigurationReaderTest/valid_template_sets/template-sets/downloaded/crud-java-server-app-test.jar
/cobigen-cli/cli-systemtest/src/test/resources/testdata/templatesproject/template-sets/downloaded/crud-java-server-app-test.jar
/cobigen/cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTestTemplateSetsXml/template-sets/downloaded/downloaded-template-set1-test-test.jar
/cobigen/cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTestTemplateSetsXml/template-sets/downloaded/downloaded-template-set2-test-test.jar
cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTestTemplateSetsXml/template-sets/downloaded/downloaded-template-set2-test-test.jar
cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTestTemplateSetsXml/template-sets/downloaded/downloaded-template-set1-test-test.jar
cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/downloaded/crud-java-server-app-1.0.0-TEST.jar
cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/downloaded/crud-java-server-app-1.0.0-TEST-sources.jar
cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/downloaded/crud-java-server-app-complex-1.0.0-TEST.jar
cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/downloaded/crud-java-server-app-complex-1.0.0-TEST-sources.jar
