<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.devonfw.cobigen.eclipseplugin.generate"
            name="Generate">
      </command>
      <command
            id="com.devonfw.cobigen.eclipseplugin.healthy_check"
            name="Healthy Check">
      </command>
      <command
            id="com.devonfw.cobigen.eclipseplugin.update_template"
            name="Update Template">
      </command>
      <command
            id="com.devonfw.cobigen.eclipseplugin.adapt_template"
            name="Adapt Template">
      </command>
      <command
            id="com.devonfw.cobigen.eclipseplugin.adapt_template"
            name="Manage Template Sets">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.devonfw.cobigen.eclipse.workbenchcontrol.handler.GenerateHandler"
            commandId="com.devonfw.cobigen.eclipseplugin.generate">
      </handler>
      <handler
            class="com.devonfw.cobigen.eclipse.workbenchcontrol.handler.HealthCheckHandler"
            commandId="com.devonfw.cobigen.eclipseplugin.health_check">
      </handler>
       <handler
            class="com.devonfw.cobigen.eclipse.workbenchcontrol.handler.UpdateTemplatesHandler"
            commandId="com.devonfw.cobigen.eclipseplugin.update_template">
      </handler>
      <handler
            class="com.devonfw.cobigen.eclipse.workbenchcontrol.handler.AdaptTemplatesHandler"
            commandId="com.devonfw.cobigen.eclipseplugin.adapt_template">
      </handler>
      <handler
            class="com.devonfw.cobigen.eclipse.workbenchcontrol.handler.ManageTemplateSetsHandler"
            commandId="com.devonfw.cobigen.eclipseplugin.manage_template_sets">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
          <separator
                name="com.devonfw.cobigen.eclipseplugin.separator1"
                visible="true">
          </separator>
          <menu
                label="CobiGen">
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.generate"
                   label="Generate..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.health_check"
                   label="Health Check..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.update_template"
                   label="Update Templates..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.adapt_template"
                   label="Adapt Templates..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.manage_template_sets"
                   label="Manage Template Sets..."
                   style="push">
             </command>
          </menu>
          <separator
                name="com.devonfw.cobigen.eclipseplugin.separator2"
                visible="true">
          </separator>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
          <separator
                name="com.devonfw.cobigen.eclipseplugin.separator3"
                visible="true">
          </separator>
          <menu
                label="CobiGen">
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.generate"
                   label="Generate..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.health_check"
                   label="Health Check..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.update_template"
                   label="Update Templates..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.adapt_template"
                   label="Adapt Templates..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.manage_template_sets"
                   label="Manage Template Sets..."
                   style="push">
             </command>
          </menu>
          <separator
                name="com.devonfw.cobigen.eclipseplugin.separator4"
                visible="true">
          </separator>
       </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <separator
                name="com.devonfw.cobigen.eclipseplugin.separator5"
                visible="true">
          </separator>
          <menu
                label="CobiGen">
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.generate"
                   label="Generate..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.health_check"
                   label="Health Check..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.update_template"
                   label="Update Templates..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.adapt_template"
                   label="Adapt Templates..."
                   style="push">
             </command>
             <command
                   commandId="com.devonfw.cobigen.eclipseplugin.manage_template_sets"
                   label="Manage Template Sets..."
                   style="push">
             </command>
             <visibleWhen
                   checkEnabled="false">
                   <with variable="selection">
                      <or>
                        <instanceof value="org.eclipse.jface.text.ITextSelection"/>
                        <instanceof value="org.eclipse.wst.sse.ui.StructuredTextEditor$StructuredSelectionProvider$StructuredTextSelection"/>
                      </or>
                   </with>
             </visibleWhen>
           </menu>
            <separator
                name="com.devonfw.cobigen.eclipseplugin.separator6"
                visible="true">
            </separator>
       </menuContribution>
   </extension>

</plugin>
