<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.1">
    <trigger id="crud_jsf_application" type="java" templateFolder="crud_jsf_application">
        <containerMatcher type="package" value="(.+)\.persistence\.([^\.]+)\.entity" retrieveObjectsRecursively="false"/>
        <matcher type="fqn" value="(.+)\.persistence\.([^\.]+)\.entity\.([^\.]+)">
            <variableAssignment type="regex" key="rootPackage" value="1"/>
            <variableAssignment type="regex" key="component" value="2"/>
            <variableAssignment type="regex" key="pojoName" value="3"/>
        </matcher>
    </trigger>
    <trigger id="testdata_builder" type="java" templateFolder="testdata_builder">
        <containerMatcher type="package" value=".+\.(service|core|batch|persistence)\.[^\.]+\.(.+\.)?[^\.]+" retrieveObjectsRecursively="false"/>
        <matcher type="fqn" value="(.+)\.(service|core|batch|persistence)\.(([^\.]+)\.(.+)?)\.([^\.]+)">
            <variableAssignment type="regex" key="rootPackage" value="1"/>
            <variableAssignment type="regex" key="component" value="4"/>
            <variableAssignment type="regex" key="pojoName" value="6"/>
            <variableAssignment type="regex" key="subPackage" value="3"/>
        </matcher>
        <matcher type="expression" value="instanceof java.lang.Enum" accumulationType="NOT"/>
        <matcher type="expression" value="isAbstract" accumulationType="NOT"/>
    </trigger>
    <trigger id="test_documentation" type="java" templateFolder="test_documentation">
        <containerMatcher type="package" value=".+\.(systemtest|awltest|komptest|kompinttest)" retrieveObjectsRecursively="true"/>
        <containerMatcher type="package" value=".+\.testfaelle" retrieveObjectsRecursively="true"/>
        <matcher type="fqn" value=".+\.(systemtest|awltest|komptest|kompinttest)\.([^\.]+)\.([^\.]+)\.([^\.]+\.)*([^\.]+)">
            <variableAssignment type="regex" key="category" value="1"/>
            <variableAssignment type="regex" key="bereich" value="2"/>
            <variableAssignment type="regex" key="unterbereich" value="3"/>
            <variableAssignment type="regex" key="testname" value="5"/>
        </matcher>
    </trigger>
</contextConfiguration>
