<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.1">

  <trigger id="crud_java_server_app" type="java" templateFolder="crud_java_server_app">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api"
      retrieveObjectsRecursively="false"/>
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api\.([^\.]+)Entity">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="entityName" value="5"/>
    </matcher>
  </trigger>
  <trigger id="crud_java_server_app_complex" type="java" templateFolder="crud_java_server_app_complex">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api"
      retrieveObjectsRecursively="false"/>
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api\.([^\.]+)Entity">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="entityName" value="5"/>
    </matcher>
  </trigger>
  <trigger id="crud_typescript_angular_client_app" type="typescript" templateFolder="crud_typescript_angular_client_app">
    <matcher type="fqn" value="([^\.]+).entity">
      <variableAssignment type="regex" key="entityName" value="1"/>
      <variableAssignment type="regex" key="component" value="1"/>
      <variableAssignment type="constant" key="domain" value="demo"/>
    </matcher>
  </trigger>
  <trigger id="testdata_builder" type="java" templateFolder="testdata_builder">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api"
      retrieveObjectsRecursively="false"/>
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api\.([^\.]+Entity)">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="pojoName" value="5"/>
    </matcher>
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.logic\.api\.to\.([^\.]+[E|C]to)">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="pojoName" value="5"/>
    </matcher>
    <matcher type="expression" value="instanceof java.lang.Enum" accumulationType="NOT"/>
    <matcher type="expression" value="isAbstract" accumulationType="NOT"/>
  </trigger>
  <trigger id="constants_security_permissions" type="xml" templateFolder="constants/security_permissions">
    <matcher type="nodename" value="access-control-schema">
      <variableAssignment type="constant" key="rootPackage" value="com.devonfw.gastronomy.restaurant"/>
    </matcher>
  </trigger>
  <trigger id="constants_named_queries" type="xml" templateFolder="constants/named_queries">
    <matcher type="nodename" value="entity-mappings">
      <variableAssignment type="constant" key="rootPackage" value="com.devonfw.gastronomy.restaurant"/>
    </matcher>
  </trigger>
  <trigger id="crud_angular_client_app" type="java" templateFolder="crud_angular_client_app">
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.logic\.api\.to\.([^\.]+)Eto">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="etoName" value="5"/>
    </matcher>
  </trigger>
  <trigger id="crud_ngrx_client_app" type="java" templateFolder="crud_ngrx_client_app">
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.logic\.api\.to\.([^\.]+)Eto">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="etoName" value="5"/>
    </matcher>
  </trigger>
  <trigger id="crud_java_ea_uml" type="xml" templateFolder="crud_java_ea_uml">
    <containerMatcher type="xpath" value="./uml:Model//packagedElement[@xmi:type='uml:Class']"/>
    <matcher type="xpath" value="self::node()[@xmi:type='uml:Class']/ancestor::uml:Model">
      <variableAssignment type="xpath" key="rootPackage"
        value="self::node()/ancestor::packagedElement/packagedElement/@name"/>
      <variableAssignment type="xpath" key="component"
        value="self::node()/ancestor::packagedElement/packagedElement/packagedElement/@name"/>
      <variableAssignment type="xpath" key="className" value="self::node()/@name"/>
    </matcher>
  </trigger>
  <trigger id="crud_openapi_java_server_app" type="openapi" templateFolder="crud_openapi_java_server_app">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="EntityDef">
      <variableAssignment type="extension" key="rootPackage" value="x-rootpackage"/>
      <variableAssignment type="property" key="component" value="componentName"/>
      <variableAssignment type="property" key="entityName" value="name"/>
    </matcher>
  </trigger>
  <trigger id="crud_openapi_angular_client_app" type="openapi" templateFolder="crud_openapi_angular_client_app">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="EntityDef">
      <variableAssignment type="constant" key="domain" value="demo"/>
      <variableAssignment type="property" key="component" value="componentName"/>
      <variableAssignment type="property" key="etoName" value="name"/>
    </matcher>
  </trigger>
  <trigger id="crud_openapi_angular_service_based_app" type="openapi" templateFolder="crud_openapi_angular_service_based_app">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="ComponentDef">
      <variableAssignment type="constant" key="domain" value="demo"/>
      <variableAssignment type="property" key="component" value="name"/>
      <variableAssignment type="property" key="etoName" value="name"/>
    </matcher>
  </trigger>
  <trigger id="crud_openapi_net" type="openapi" templateFolder="crud_openapi_net">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="EntityDef">
      <variableAssignment type="extension" key="rootPackage" value="x-rootpackage"/>
      <variableAssignment type="property" key="component" value="componentName"/>
      <variableAssignment type="property" key="entityName" value="name"/>
    </matcher>
  </trigger>
  <trigger id="crud_openapi_ionic_client_app" type="openapi" templateFolder="crud_openapi_ionic_client_app">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="EntityDef">
      <variableAssignment type="constant" key="domain" value="demo"/>
      <variableAssignment type="property" key="component" value="componentName"/>
      <variableAssignment type="property" key="etoName" value="name"/>
    </matcher>
  </trigger>
  <trigger id="crud_ionic_client_app" type="java" templateFolder="crud_ionic_client_app">
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.logic\.api\.to\.([^\.]+)Eto">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="etoName" value="5"/>
    </matcher>
  </trigger>
  <trigger id="REST_Docs" type="java" templateFolder="documentation/rest">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.service\.api\.rest"
      retrieveObjectsRecursively="false"/>
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.service\.api\.rest\.([^\.]+)RestService">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
    </matcher>
  </trigger>
  <trigger id="Swagger_Docs" type="java" templateFolder="documentation/kafka">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.service\.data"
      retrieveObjectsRecursively="false"/>
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.service\.data\.([^\.]+)To">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="toName" value="5"/>
    </matcher>
  </trigger>
  <trigger id="OpenAPI_docs" type="openapi" templateFolder="documentation/openapi">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="EntityDef">
      <variableAssignment type="constant" key="rootPackage" value="com.devonfw"/>
      <variableAssignment type="property" key="component" value="componentName"/>
      <variableAssignment type="property" key="entityName" value="name"/>
    </matcher>
  </trigger>
</contextConfiguration>
