/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/* makes button and filter option white and borderless*/
.root {
  -fx-body-color : white;
  -fx-outer-border : white;

}
.root * {
    -fx-font: 11.0px Ubuntu;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-base: white;
    -fx-accent: #0070AD;
    -fx-control-inner-background: derive(-fx-base, 35.0%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: transparent;
   -fx-padding: 0.0;
}
.split-pane:vertical > .split-pane-divider {
   -fx-padding: 0.5;
}

.scroll-bar {
  -fx-background-color: white;
  -fx-block-increment: 1.0;
}

/* Text */
Text {
  -fx-font: 12.0px Ubuntu;
  -fx-fill: black;
  -fx-font-weight: 200;
  -fx-font-smoothing-type: lcd;
}
.header {
 -fx-font-size: 16.0px;
 -fx-font-weight: 400;
}
.subheader {
   -fx-font-weight: 300;
 -fx-font-size: 14.0px;
}

.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0 ;
    -fx-background-radius: 0.0 ;
    -fx-prompt-text-fill: gray;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

/* sets the color when cursor hovers over button*/
color-picker:hover,
.date-picker:hover > .arrow-button,
.combo-box:hover,.choice-box:hover,
.number-button:hover,.left-arrow-button:hover,.right-arrow-button:hover,
.button:hover,.menu-button:hover,.toggle-button:hover,
.font-menu-button:hover,
.split-menu-button > .label:hover, .split-menu-button > .arrow-button:hover {
  -fx-background-color: #ececec;

}

 /*pressed selected*/
.color-picker:pressed,.color-picker:selected,
.number-button:pressed,.number-button:selected,
.date-picker:pressed > .arrow-button,
.combo-box:pressed > .arrow-button,.combo-box:selected > .arrow-button,
.choice-box:pressed > .arrow-button,.choice-box:selected > .arrow-button,
.font-menu-button:pressed,.font-menu-button:selected,
.left-arrow-button:pressed,.left-arrow-button:selected,
.right-arrow-button:pressed,.right-arrow-button:selected,
.button:pressed, .button:selected,.menu-button:pressed,.menu-button:selected
,.toggle-button:pressed,.toggle-button:selected,
.split-menu-button:pressed > .label, .split-menu-button > .arrow-button:pressed {
  -fx-background-color: #D3D3D3
  }

 #menuBarPane{
 -fx-background-color: white;
 }

 #templateSetsLabel{
 -fx-background-color: transparent;

 }

 #homeButtonIcon{
  -fx-scale-x: 0.1;
  -fx-scale-y: 0.1;
 }

 .menuButtons{
 -fx-background-color: #0070AD
 }
 
 .titleBarButtons{
 -fx-background-color: transparent
 }
 
 #clearSearchButton{
 -fx-background-color: transparent
 }

 /* Items in the search panel*/
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #0070AD;
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #12B3DB;
    -fx-text-fill: white;
}

list-view {
    -fx-background-color: white;
}

.list-cell:odd {
-fx-background-color: white;

}

.split-menu-button {
    -fx-background-color: #0070AD, #0070AD;

}
.split-menu-button > .label {
    -fx-text-fill: white;
    -fx-background-color: #0070AD, #0070AD;
}
.split-menu-button > .arrow-button {
    -fx-background-color: #0070AD, #0070AD;

}
.split-menu-button:hover {
    -fx-background-color: #0070AD;
}
.split-menu-button:hover > .label {
    -fx-background-color: #0070AD, #0070AD, transparent, #0070AD;

}
.split-menu-button:hover > .arrow-button {
    -fx-background-color: #ececec,  #ececec,  #ececec,  #ececec;

}
