<?xml version="1.0" encoding="UTF-8"?>
<contextConfiguration xmlns="http://capgemini.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="1.0">
  <triggers>
    <trigger id="rf_persistenceEntity" type="java" templateFolder="rf_persistenceEntity_templates">
      <containerMatcher type="package" value="(.+)\.persistence\.([^\.]+)\.entity"/>
      <matcher type="fqn" value="(.+)\.persistence\.([^\.]+)\.entity\.([^\.]+)">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="component" value="2"/>
        <variableAssignment type="regex" key="pojoName" value="3"/>
      </matcher>
    </trigger>
    <trigger id="oasp_persistenceEntity" type="java" templateFolder="oasp_persistenceEntity_templates">
      <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.persistence\.api"/>
      <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.persistence\.api\.([^\.]+Entity)">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="domain" value="3"/>
        <variableAssignment type="regex" key="component" value="4"/>
        <variableAssignment type="regex" key="entityName" value="5"/>
      </matcher>
    </trigger>
    <trigger id="rf_testdataFramework" type="java" templateFolder="rf_testdata_framework">
      <containerMatcher type="package" value="(.+)\.persistence\.([^\.]+)\.entity"/>
      <matcher type="fqn" value="(.+)\.persistence\.([^\.]+)\.entity\.([^\.]+)">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="component" value="2"/>
        <variableAssignment type="regex" key="pojoName" value="3"/>
      </matcher>
    </trigger>
    <trigger id="oasp_testdataFramework" type="java" templateFolder="oasp_testdata_framework">
      <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.persistence\.api"/>
      <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.persistence\.api\.([^\.]+Entity)">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="domain" value="3"/>
        <variableAssignment type="regex" key="component" value="4"/>
        <variableAssignment type="regex" key="pojoName" value="5"/>
      </matcher>
      <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.logic\.api\.to\.([^\.]+[E|C]to)">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="domain" value="3"/>
        <variableAssignment type="regex" key="component" value="4"/>
        <variableAssignment type="regex" key="pojoName" value="5"/>
      </matcher>
    </trigger>
    <trigger id="rf_testDocumentation" type="java" templateFolder="rf_testDocumentation">
      <!-- <containerMatcher type="package" value="de\.bund\.bva\.visa\.vivetest\.systemtest" /> -->
      <containerMatcher type="package" value="de\.bund\.bva\.visa\.vivetest\.awltest"/>
      <containerMatcher type="package" value="de\.bund\.bva\.visa\.vivega\.test\.komptest"/>
      <containerMatcher type="package" value="de\.bund\.bva\.visa\.vivega\.test\.kompinttest"/>
      <matcher type="fqn" value="de\.bund\.bva\.visa\.vivetest\.(systemtest|awltest)\.([^\.]+)\.([^\.]+)\.[^\.]+">
        <variableAssignment type="regex" key="bereich" value="2"/>
        <variableAssignment type="regex" key="unterbereich" value="3"/>
      </matcher>
      <matcher type="fqn" value="de\.bund\.bva\.visa\.vivega\.test\.(komptest|kompinttest)\.([^\.]+)\.([^\.]+)\.[^\.]+">
        <variableAssignment type="regex" key="bereich" value="2"/>
        <variableAssignment type="regex" key="unterbereich" value="3"/>
      </matcher>
    </trigger>
  </triggers>
</contextConfiguration>
