<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Eclipse 2018-12" sequenceNumber="51">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
    <repository location="http://download.eclipse.org/technology/swtbot/releases/latest/"/>
    <unit id="org.eclipse.swtbot.eclipse.test.junit.feature.group" version="4.0.0.202206011610"/>
    <unit id="org.eclipse.swtbot.feature.group" version="4.0.0.202206011610"/>
    <unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.0.0.202206011610"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
    <repository location="https://download.eclipse.org/releases/2018-12/"/>
    <unit id="org.eclipse.sdk.ide" version="0.0.0"/>
    <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
  </location>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-xmlplugin/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-jsonplugin/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-htmlplugin/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-propertyplugin/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-textmerger/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-templateengines/cobigen-tempeng-velocity/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-templateengines/cobigen-tempeng-freemarker/target/repository" type="Directory"/>
  <location path="${projectDir}/../../cobigen-plugins/cobigen-tsplugin/target/repository" type="Directory"/>
</locations>
</target>