<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.2">

  <trigger id="devonfw-java" type="agnostic">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess(\.api)?"
      retrieveObjectsRecursively="false"/>
    <!--                       12      3          4                   5      67            8      -->
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess(\.api)((.[^\.]+)*)\.([^\.]+)Entity">
      <variableAssignment type="regex" key="rootPackage" value="1"/>
      <variableAssignment type="regex" key="domain" value="3"/>
      <variableAssignment type="regex" key="component" value="4"/>
      <variableAssignment type="regex" key="scope" value="5"/>
      <variableAssignment type="regex" key="detail" value="6"/>
      <variableAssignment type="regex" key="entityName" value="8"/>
    </matcher>
  </trigger>


</contextConfiguration>
