<?xml version="1.0" encoding="UTF-8"?>
<contextConfiguration xmlns="http://capgemini.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="2.0">
  <triggers>
    <trigger id="crud_javascript_client_app" type="java" templateFolder="crud_javascript_client_app">
      <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api"/>
      <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api\.([^\.]+)Entity">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="domain" value="3"/>
        <variableAssignment type="regex" key="component" value="4"/>
        <variableAssignment type="regex" key="entityName" value="5"/>
      </matcher>
    </trigger>
  </triggers>
</contextConfiguration>