<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Eclipse Mars 4.5.2" sequenceNumber="51">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.5.2.M20160212-1500"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.2.v20160212-1500"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.2.v20160202-2102"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.6.2.20150902-0002"/>
<repository location="http://download.eclipse.org/releases/mars"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.swtbot.feature.group" version="2.6.0.201612081710"/>
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.6.0.201612081710"/>
<repository location="http://download.eclipse.org/technology/swtbot/snapshots"/>
</location>
</locations>
</target>
