<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.1">

 
  <trigger id="crud_openapi_angular_service_based_app" type="openapi" templateFolder="crud_openapi_angular_service_based_app">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="ComponentDef">
      <variableAssignment type="constant" key="domain" value="demo"/>
      <variableAssignment type="property" key="component" value="name"/>
      <variableAssignment type="property" key="etoName" value="name"/>
    </matcher>
  </trigger>
 
</contextConfiguration>
