<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright © Capgemini 2013. All rights reserved.
-->
<contextConfiguration xmlns="http://capgemini.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">	
	<triggers>
		<javaTrigger id="javaTrigger" typeRegex="(.+)\.persistence\.([^\.]+)\.entity.+" templateFolder="persistenceEntity_templates" >
			<variableAssignment variable="rootPackage" regexGroup="1" />
			<variableAssignment variable="component" value="2" />
		</javaTrigger>
		<wsdlTrigger id="wsdlTrigger" pathRegex="(.+)\.persistence\.([^\.]+)\.entity.+" templateFolder="persistenceEntity_templates" >
			<variableAssignment variable="rootPackage" regexGroup="1" />
			<variableAssignment variable="component" value="2" />
		</wsdlTrigger>
	</triggers>
</contextConfiguration>
