<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.3">
  <trigger id="constants_named_queries" type="xml">
    <matcher type="nodename" value="entity-mappings">
      <variableAssignment type="constant" key="rootPackage" value="com.devonfw.gastronomy.restaurant" />
    </matcher>
  </trigger>
  <links>
    <link url="https://github.com/devonfw/devon4j/blob/master/documentation/guide-dao.asciidoc#static-queries-for-dao-implementation"></link>
  </links>
</contextConfiguration>