<?xml version="1.0" encoding="UTF-8"?>
<contextConfiguration xmlns="http://capgemini.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0">
  <triggers>
    <trigger id="testTemplates" type="java" templateFolder="testTemplates">
      <matcher type="fqn" value=".*">
        <variableAssignment type="constant" key="abstractCollection" value="java.util.AbstractCollection" />
        <variableAssignment type="constant" key="stringFqn" value="java.lang.String" />
        <variableAssignment type="constant" key="objectFqn" value="java.lang.Object" />
        <variableAssignment type="constant" key="javaLang" value="java.lang" />
      </matcher>
    </trigger>
  </triggers>
</contextConfiguration>
