<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.1">
  <trigger id="crud_openapi_java_server_app" type="openapi" templateFolder="templates">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="EntityDef">
      <variableAssignment type="constant" key="rootPackage" value="com.devonfw.test"/>
      <variableAssignment type="property" key="component" value="componentName"/>
      <variableAssignment type="property" key="entityName" value="name"/>
    </matcher>
  </trigger>
  <trigger id="crud_openapi_angular_service_based_app" type="openapi" templateFolder="templates_service">
    <containerMatcher type="element" value="openAPIFile"/>
    <matcher type="element" value="ComponentDef">
      <variableAssignment type="constant" key="domain" value="demo"/>
      <variableAssignment type="property" key="component" value="name"/>
      <variableAssignment type="property" key="etoName" value="name"/>
    </matcher>
  </trigger>
  <trigger id="testTemplatesRegex" type="openapi" templateFolder="templates_regexMatcher">
    <containerMatcher type="element" value="openAPIFile"/>
      <matcher type="ENTITYNAMEREGEX" value="Table">
        <variableAssignment type="property" key="entityName" value="name"/>
        <variableAssignment type="extension" key="testingAttribute" value="x-test"/>
        <variableAssignment type="extension" key="rootPackage" value="x-rootpackage"/>
        <variableAssignment type="extension" key="globalVariable" value="x-global"/>
      </matcher>
    </trigger>
</contextConfiguration>
