mat-card-title {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

mat-card-subtitle {
  padding-left: 16px;
  padding-right: 16px;
}

.data-action-button {
  margin-right: 8px;
}

.filter-form-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
  border-bottom: 1px solid lightgrey;
}

.filter-form-fields-desktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  mat-form-field {
    padding: 8px;
  }
}

.filter-form-fields-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

@media (max-width: 599px) {
  .filter-form-fields-desktop {
    display: none;
  }
}

@media (min-width: 600px) {
  .filter-form-fields-mobile {
    display: none;
  }
}
