<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<contextConfiguration xmlns="http://capgemini.com/devonfw/cobigen/ContextConfiguration" version="2.3">
  <trigger id="crud_java_server_app_complex" type="java">
    <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api" retrieveObjectsRecursively="false" />
    <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api\.([^\.]+)Entity">
      <variableAssignment type="regex" key="rootPackage" value="1" />
      <variableAssignment type="regex" key="domain" value="3" />
      <variableAssignment type="regex" key="component" value="4" />
      <variableAssignment type="regex" key="entityName" value="5" />
    </matcher>
  </trigger>
</contextConfiguration>