<?xml version="1.0" encoding="UTF-8"?>
<contextConfiguration xmlns="http://capgemini.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="2.0">
  <triggers>
    <trigger id="crud_java_server_app" type="java" templateFolder="crud_java_server_app">
      <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api"/>
      <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api\.([^\.]+)Entity">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="domain" value="3"/>
        <variableAssignment type="regex" key="component" value="4"/>
        <variableAssignment type="regex" key="entityName" value="5"/>
      </matcher>
    </trigger>
    
    <trigger id="testdata_builder" type="java" templateFolder="testdata_builder">
      <containerMatcher type="package" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api"/>
      <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.dataaccess\.api\.([^\.]+Entity)">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="domain" value="3"/>
        <variableAssignment type="regex" key="component" value="4"/>
        <variableAssignment type="regex" key="pojoName" value="5"/>
      </matcher>
      <matcher type="fqn" value="((.+\.)?([^\.]+))\.([^\.]+)\.logic\.api\.to\.([^\.]+[E|C]to)">
        <variableAssignment type="regex" key="rootPackage" value="1"/>
        <variableAssignment type="regex" key="domain" value="3"/>
        <variableAssignment type="regex" key="component" value="4"/>
        <variableAssignment type="regex" key="pojoName" value="5"/>
      </matcher>
      <matcher type="expression" value="instanceof java.lang.Enum" accumulationType="NOT">
        </matcher>
        <matcher type="expression" value="isAbstract" accumulationType="NOT">
        </matcher>
    </trigger>
    
    <trigger id="constants_security_permissions" type="xml" templateFolder="oasp_constants/security_permissions">
      <matcher type="nodename" value="access-control-schema">
        <variableAssignment type="constant" key="rootPackage" value="io.oasp.gastronomy.restaurant"/>
      </matcher>
    </trigger>
    <trigger id="constants_named_queries" type="xml" templateFolder="constants/named_queries">
      <matcher type="nodename" value="entity-mappings">
        <variableAssignment type="constant" key="rootPackage" value="io.oasp.gastronomy.restaurant"/>
      </matcher>
    </trigger>
  </triggers>
</contextConfiguration>
