name: Release manually
on:
  workflow_dispatch:
jobs:
  release:
    uses: devonfw/cobigen/.github/workflows/release.yml@master
    secrets:
      GPG_KEY: ${{ secrets.GPG_KEY }}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      BUILD_USER: ${{ secrets.BUILD_USER }}
      BUILD_USER_EMAIL: ${{ secrets.BUILD_USER_EMAIL }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
